# Question 1.
Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [7]:
#Importing libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import requests
from time import sleep
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [8]:
#First connect to the driver
driver= webdriver.Chrome(r'C:\Users\Arpita\Documents\chromedriver.exe')

In [9]:
url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)

In [10]:
# Creating empty list for storing data after scraping

Rank = []
Name = []
Artist = []
UploadDate = []
Views = []

In [11]:
# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
    
#scrapping Name
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")
    
    
#scrapping Artist
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")
    
    
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        UploadDate.append(i.text)
except NoSuchElementException:
    UploadDate.append('-')
# Scraping Views of videos

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [13]:
# Creating DataFrame from scraped data
wikipedia = pd.DataFrame({})
wikipedia['Rank']=Rank
wikipedia['Name']=Name
wikipedia['Artist']=Artist
wikipedia['Upload Date']=UploadDate
wikipedia['Views']=Views

wikipedia

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.83
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.02
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.54
3,4.,"""Shape of You""[15]",Ed Sheeran,"January 30, 2017",5.86
4,5.,"""Bath Song""[17]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.81
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.71
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.04
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.77
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[25]",Miroshka TV,"February 27, 2018",4.74
9,10.,"""Wheels on the Bus""[26]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.69
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.62
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.15
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.79
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.69
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.69
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.63
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.61
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.52
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.44
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.40
21,22.,"""Faded""[42]",Alan Walker,"December 3, 2015",3.38
22,23.,"""Girls Like You""[43]",Maroon 5,"May 31, 2018",3.35
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.35
24,25.,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.34
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.31
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.30
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.29
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.24
29,30.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.23

In [14]:
driver.close()

# Question 2.
Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time

In [276]:
#Let's connect to the webdriver
driver= webdriver.Chrome(r'C:\Users\Arpita\Documents\chromedriver.exe')

In [277]:
url=('https://www.bcci.tv/')
driver.get(url)

In [278]:
#clickin on International tab
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [279]:
series = []
series_tag = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in series_tag:
    series.append(i.text)
series

['AUSTRALIA WOMEN TOUR OF INDIA 2022',
 'INDIA TOUR OF BANGLADESH TEST SERIES 2022-23',
 'AUSTRALIA WOMEN TOUR OF INDIA 2022',
 'AUSTRALIA WOMEN TOUR OF INDIA 2022',
 'AUSTRALIA WOMEN TOUR OF INDIA 2022',
 'INDIA TOUR OF BANGLADESH TEST SERIES 2022-23',
 'SRI LANKA TOUR OF INDIA T20 SERIES 2022-23',
 'SRI LANKA TOUR OF INDIA T20 SERIES 2022-23']

In [280]:
# scraping match title
title = []
title_tag = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in title_tag:
    title.append(i.text.split(' -')[0])
title

['2nd T20I',
 '1st Test',
 '3rd T20I',
 '4th T20I',
 '5th T20I',
 '2nd Test',
 '1st T20I',
 '2nd T20I']

In [281]:
# scraping Place
place = []
place_tag = driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in place_tag:
    place.append(i.text.split(' -')[1])
place

[' DY Patil Stadium, NAVI MUMBAI',
 ' Zahur Ahmed Chowdhury Stadium, Chattogram',
 ' Brabourne',
 ' Brabourne',
 ' Brabourne',
 ' Shere Bangla National Stadium, Mirpur, Dhaka',
 ' Wankhede Stadium, Mumbai',
 ' Maharashtra Cricket Association Stadium, Pune']

In [282]:
# scraping Date
date = []
date_tag = driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date_tag:
    date.append(i.text)
date

['11 DEC 2022',
 '14 DEC 2022',
 '14 DEC 2022',
 '17 DEC 2022',
 '20 DEC 2022',
 '22 DEC 2022',
 '3 JAN 2023',
 '5 JAN 2023']

In [283]:
time = []
time_tag = driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time_tag:
    time.append(i.text)
time

['7:00 PM IST',
 '9:30 AM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '9:30 AM IST',
 '7:30 PM IST',
 '7:30 PM IST']

In [284]:
# creating the dataframe from the scraped data
df = pd.DataFrame({'Match Title':title,'Series':series,'Place':place,'Date':date,'Time':time})
df

,Match Title,Series,Place,Date,Time
0,2nd T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,"DY Patil Stadium, NAVI MUMBAI",11 DEC 2022,7:00 PM IST
1,1st Test,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,"Zahur Ahmed Chowdhury Stadium, Chattogram",14 DEC 2022,9:30 AM IST
2,3rd T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,Brabourne,14 DEC 2022,7:00 PM IST
3,4th T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,Brabourne,17 DEC 2022,7:00 PM IST
4,5th T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,Brabourne,20 DEC 2022,7:00 PM IST
5,2nd Test,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,"Shere Bangla National Stadium, Mirpur, Dhaka",22 DEC 2022,9:30 AM IST
6,1st T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Wankhede Stadium, Mumbai",3 JAN 2023,7:30 PM IST
7,2nd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Maharashtra Cricket Association Stadium, Pune",5 JAN 2023,7:30 PM IST

In [285]:
driver.close()

# Question3.
Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
-  A) Name
-  B) Description

In [286]:
#Let's connect to the webdriver
driver= webdriver.Chrome(r'C:\Users\Arpita\Documents\chromedriver.exe')

In [287]:
url=(' https://www.guru99.com/')
driver.get(url)

In [156]:
# Clicking on selenium exception handling  Button
exception_handling = driver.find_element(By.XPATH,"//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handling.click()
except ElementNotInteractableException:  #if the above code doesn't work/is not clickable then, the below code will handle it
    driver.get(exception_handling.get_attribute('href'))

In [161]:
#creating empty list
Name=[]
Description=[]

#scraping names
name = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/p/strong")
for i in name:       
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)

# scraping Description
desc = driver.find_elements(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/p")
for i in desc:       
        if i.text is None :
            Description.append("--")
        else:
            Description.append(i.text)

In [171]:
Name

['1. ElementNotVisibleException:',
 '2. ElementNotSelectableException:',
 '3. NoSuchElementException:',
 '4. NoSuchFrameException:',
 '5. NoAlertPresentException:',
 '6. NoSuchWindowException:',
 '7. StaleElementReferenceException:',
 '8. SessionNotFoundException:',
 '9. TimeoutException:',
 '10. WebDriverException:',
 '11. ConnectionClosedException:',
 '12. ElementClickInterceptedException:',
 '13. ElementNotInteractableException:',
 '14. ErrorInResponseException:',
 '15. ErrorHandler.UnknownServerException:',
 '16. ImeActivationFailedException:',
 '17. ImeNotAvailableException:',
 '18. InsecureCertificateException:',
 '19. InvalidArgumentException:',
 '20. InvalidCookieDomainException:',
 '21. InvalidCoordinatesException:',
 '22. InvalidElementStateException:',
 '23. InvalidSessionIdException:',
 '24. InvalidSwitchToTargetException:',
 '25. JavascriptException:',
 '26. JsonException:',
 '27. NoSuchAttributeException:',
 '28. MoveTargetOutOfBoundsException:',
 '29. NoSuchContextException:',
 '30. NoSuchCookieException:',
 '31. NotFoundException:',
 '32. RemoteDriverServerException:',
 '33. ScreenshotException:',
 '34. SessionNotCreatedException:',
 '35. UnableToSetCookieException:',
 '36. UnexpectedTagNameException:',
 '37. UnhandledAlertException:',
 '38. UnexpectedAlertPresentException:',
 '39. UnknownMethodException:',
 '40. UnreachableBrowserException:',
 '41. UnsupportedCommandException:',
 'Step 1) Try-catch',
 'Catch',
 'Step 2) Multiple catch blocks',
 'Step 3) Throw',
 'Step 4) Multiple Exceptions',
 'Step 5) Finally']

In [172]:
Description

['1. ElementNotVisibleException: This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 '2. ElementNotSelectableException: This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 '3. NoSuchElementException: This Exception occurs if an element could not be found.',
 '4. NoSuchFrameException: This Exception occurs if the frame target to be switched to does not exist.',
 '5. NoAlertPresentException: This Exception occurs when you switch to no presented alert.',
 '6. NoSuchWindowException: This Exception occurs if the window target to be switch does not exist.',
 '7. StaleElementReferenceException: This Selenium exception occurs happens when the web element is detached from the current DOM.',
 '8. SessionNotFoundException: The WebDriver is acting after you quit the browser.',
 '9. TimeoutException: Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 '10. WebDriverException: This Exception takes place when the WebDriver is acting right after you close the browser.',
 '11. ConnectionClosedException: This type of Exception takes place when there is a disconnection in the driver.',
 '12. ElementClickInterceptedException: The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 '13. ElementNotInteractableException: This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 '14. ErrorInResponseException: This happens while interacting with the Firefox extension or the remote driver server.',
 '15. ErrorHandler.UnknownServerException: Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 '16. ImeActivationFailedException: This expectation will occur when IME engine activation has failed.',
 '17. ImeNotAvailableException: It takes place when IME support is unavailable.',
 '18. InsecureCertificateException: Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 '19. InvalidArgumentException: It occurs when an argument does not belong to the expected type.',
 '20. InvalidCookieDomainException: This happens when you try to add a cookie under a different domain instead of current URL.',
 '21. InvalidCoordinatesException: This type of Exception matches an interacting operation that is not valid.',
 '22. InvalidElementStateException: It occurs when command can’t be finished when the element is invalid.',
 '23. InvalidSessionIdException: This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 '24. InvalidSwitchToTargetException: This occurs when the frame or window target to be switched does not exist.',
 '25. JavascriptException: This issue occurs while executing JavaScript given by the user.',
 '26. JsonException: It occurs when you afford to get the session when the session is not created.',
 '27. NoSuchAttributeException: This kind of Exception occurs when the attribute of an element could not be found.',
 '28. MoveTargetOutOfBoundsException: It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 '29. NoSuchContextException: ContextAware does mobile device testing.',
 '30. NoSuchCookieException: This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 '31. NotFoundException: This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 '32. RemoteDriverServerException: This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 '33. ScreenshotException: It is not possible to capture a screen.',
 '34. SessionNotCreatedException: It happens when a new session could not be successfully created.',
 '35. UnableToSetCookieException: This occurs if a driver is unable to set a cookie.',
 '36. UnexpectedTagNameException: Happens if a support class did not get a web element as expected.',
 '37. UnhandledAlertException: This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 '38. UnexpectedAlertPresentException: It occurs when there is the appearance of an unexpected alert.',
 '39. UnknownMethodException: This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 '40. UnreachableBrowserException: This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 '41. UnsupportedCommandException: This occurs when remote WebDriver doesn’t send valid commands as expected.',
 'Here, are some important standard using which you can handle Exceptions in Selenium WebDriver:',
 'Step 1) Try-catch',
 'This method can catch Exceptions, which uses a combination of the try and catch keywords. Try command indicates the start of the block, and Catch is placed at the end of the try block, which helps to resolve the Exception.',
 'Step 2) Multiple catch blocks',
 'There are various types of Exceptions, and you can expect more than one exception from a single block of code. Multiple catches help you to handle every type of Exception separately with a separate block of code. It can be used for more than two catch blocks, and there is no limitation on the number of catch blocks.',
 'Step 3) Throw',
 'When you want to generate an Exception, the Throw keyword is used to throw Exception to handle it in the run time. When you are throwing an Exception without handling it, then they need to use Throw keyword.',
 'Step 4) Multiple Exceptions',
 'You can mention various Exceptions in the throws clause.',
 'Step 5) Finally',
 'The Final keyword is used to create a block of code under the try block. It is the final code that helps you to executes irrespective of the occurrence of an exception',
 'You can also use the following methods to display Exception Information:']

In [173]:
driver.close()

# Question 4.
Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [85]:
#Let's connect to the webdriver
driver= webdriver.Chrome(r'C:\Users\Arpita\Documents\chromedriver.exe')

In [98]:
driver.get('https://www.statisticstimes.com')

In [100]:
driver.find_element(By.XPATH,'/html/body/div[1]/div/a').click()

In [101]:
#Clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

In [102]:
#Clicking on India button
driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]").click()

In [103]:
# Clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [104]:
# Creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDPbillion = []
# Scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")
# Scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")
# Scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
# Scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
# Scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDPbillion.append(i.text)
except NoSuchElementException:
    GDPbillion.append("_")

In [105]:
INDIA=pd.DataFrame()
INDIA['RANK']=Rank
INDIA['STATE']=State
INDIA['GSDP2']=GSDP2
INDIA['SHARE']=Share
INDIA['GDPbillion']=GDPbillion
INDIA

   RANK                      STATE      GSDP2   SHARE GDPbillion
0     1                Maharashtra  2,632,792  13.94%    399.921
1     2                 Tamil Nadu  1,630,208   8.63%    247.629
2     3              Uttar Pradesh  1,584,764   8.39%    240.726
3     4                    Gujarat  1,502,899   7.96%    228.290
4     5                  Karnataka  1,493,127   7.91%    226.806
..  ...                        ...        ...     ...        ...
61   29                     Sikkim     25,141   0.15%     17,060
62   30                   Nagaland     24,534   0.15%          -
63   31          Arunachal Pradesh     22,488   0.13%          -
64   32                    Mizoram     20,947   0.13%     17,797
65   33  Andaman & Nicobar Islands          -       -          -

[66 rows x 5 columns]

In [106]:
driver.close()

# Question 5.
Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [125]:
#Let's connect to the webdriver
driver= webdriver.Chrome(r'C:\Users\Arpita\Documents\chromedriver.exe')

In [126]:
url=(' https://github.com/')
driver.get(url)

In [130]:
# Click on Open source

explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()

In [131]:
#Click on Trending
trending = driver.find_element(By.XPATH,'//*[@href="/trending"]')
try:
    driver.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [132]:
#Creating empty list:
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

#Fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [133]:
# Scraping Repository Title data
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

In [134]:
# Scraping data from all repository page
for i in URLs:
    driver.get(i)
    
        # Scraping Repository Description data
    try:
        desc = driver.find_element(By.XPATH,"//p[@class='f4 my-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # Scraping Contributors Count data
    try:
        contributor = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
        
        
     # Scraping Languages used data
    lang=[]
    try:
        for i in driver.find_elements(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]'):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        lang.append('-')

In [136]:
print(len(repository_title),len(Description),len(Contributors),len(Language))

25 25 25 25

In [137]:
#Creating DataFrame

Github=pd.DataFrame({})
Github['Repository title'] = repository_title
Github['Repository description'] = Description
Github['Contributors count'] = Contributors
Github['Language used'] = Language
Github

,Repository title,Repository description,Contributors count,Language used
0,fuergaosi233 / wechat-chatgpt,Use ChatGPT On Wechat via wechaty,19,"[TypeScript, Python, Dockerfile, Shell]"
1,869413421 / wechatbot,为个人微信接入ChatGPT,3,"[Go, Dockerfile, Makefile]"
2,exaloop / codon,"A high-performance, zero-overhead, extensible ...",4,"[C++, Python, Other]"
3,doocs / leetcode,😏 LeetCode solutions in any programming langua...,108,"[Java, C++, Python, Go, TypeScript, Rust, Other]"
4,teaxyz / cli,the unified package manager (brew2),17,[TypeScript]
5,Tencent / Hippy,Hippy is designed to easily build cross-platfo...,80,"[C++, Java, Objective-C, TypeScript, JavaScrip..."
6,cloneofsimo / lora,Using Low-rank adaptation to quickly fine-tune...,2,"[Jupyter Notebook, Other]"
7,AutumnWhj / ChatGPT-wechat-bot,ChatGPT for wechat,2,"[TypeScript, JavaScript, Dockerfile, Shell]"
8,PathOfBuildingCommunity / PathOfBuilding,Offline build planner for Path of Exile.,187,[Lua]
9,surrealdb / surrealdb,"A scalable, distributed, collaborative, docume...",31,"[Rust, Other]"
10,gragland / chatgpt-chrome-extension,A ChatGPT Chrome extension. Integrates ChatGPT...,-,"[JavaScript, Shell]"
11,wangrongding / wechat-bot,🤖一个基于OpenAi ChatGPT + WeChaty 实现的微信机器人 可以用来帮助你...,2,"[JavaScript, Shell]"
12,mohammadpz / pytorch_forward_forward,Implementation of Hinton's forward-forward (FF...,2,[Python]
13,holbertonschool / Betty,Holberton-style C code checker written in Perl,8,"[Perl, C, Shell]"
14,humanloop / awesome-chatgpt,"Curated list of awesome tools, demos, docs for...",5,[]
15,rawandahmad698 / PyChatGPT,⚡️ Python client for the unofficial ChatGPT AP...,8,[Python]
16,pulsar-edit / pulsar,A Community-led Hyper-Hackable Text Editor,487,"[JavaScript, CoffeeScript, Less, Ruby, Shell, ..."
17,bupticybee / ChineseAiDungeonChatGPT,中文版的ai地牢，直接使用的openai的ChatGPT api作为讲故事的模型。,3,"[Python, Jupyter Notebook]"
18,f / awesome-chatgpt-prompts,This repo includes ChatGPT promt curation to u...,10,[]
19,louislam / uptime-kuma,A fancy self-hosted monitoring tool,209,"[JavaScript, Vue, SCSS, TypeScript, Shell, Doc..."
20,pichenettes / eurorack,Eurorack modules,11,"[C++, Python, Other]"
21,acheong08 / ChatGPT,Lightweight package for interacting with ChatG...,23,[Python]
22,paradigmxyz / reth,"Modular, contributor-friendly and blazing-fast...",13,"[C, Rust, C++, CMake, Other]"
23,bytedance / sonic-cpp,A fast JSON serializing & deserializing librar...,3,"[C++, Python, CMake, Other]"
24,AmazingAng / WTF-Solidity,我最近在重新学solidity，巩固一下细节，也写一个“WTF Solidity极简入门”，...,70,"[Solidity, JavaScript]"

In [138]:
driver.close()

# Question 6.
Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [193]:
#Let's connect to the webdriver
driver= webdriver.Chrome(r'C:\Users\Arpita\Documents\chromedriver.exe')

In [194]:
# Getting the webpage of mentioned url 
driver.get('https://www.billboard.com/')

In [196]:
# clicking the chart
chart=driver.find_element(By.XPATH,"/html/body/div[1]")
chart.click()

# clicking the view chart
hot100=driver.find_element(By.XPATH,"/html/body/main/div[2]/div/div[1]/a/div[2]/div[2]/div[1]")
hot100.click()

#creating empty list for scraping data
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

# scraping Song name
song = driver.find_elements(By.XPATH,"//span[@class='chart-element__information__song text--truncate color--primary']")
for i in song:       
    if i.text is None :
        Song_name.append("--") 
    else:
        Song_name.append(i.text)         

# scraping Artist name
artist = driver.find_elements(By.XPATH,"//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist:       
    if i.text is None :
        Artist_name.append("--") 
    else:
        Artist_name.append(i.text) 
        
# scraping last week rank
lw_rank = driver.find_elements(By.XPATH,"//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lw_rank:       
    if i.text is None :
        Last_week_rank.append("--") 
    else:
        Last_week_rank.append(i.text)  

# scraping peak rank
peak = driver.find_elements(By.XPATH,"//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak:       
    if i.text is None :
        Peak_rank.append("--") 
    else:
        Peak_rank.append(i.text)    

# scraping Weeks_on_board
on_board = driver.find_elements(By.XPATH,"//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in on_board:       
    if i.text is None :
        Weeks_on_board.append("--")
    else:
        Weeks_on_board.append(i.text)

# creating the dataframe from the scraped data
df=pd.DataFrame({"Song_name":Song_name,"Artist_name":Artist_name,"Last_week_rank":Last_week_rank,"Peak_rank":Peak_rank,"Weeks_on_board":Weeks_on_board})
df

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=108.0.5359.99)
Stacktrace:
Backtrace:
	(No symbol) [0x005FF243]
	(No symbol) [0x00587FD1]
	(No symbol) [0x0047CF10]
	(No symbol) [0x004AD003]
	(No symbol) [0x004A32A6]
	(No symbol) [0x004C858C]
	(No symbol) [0x004A2BFF]
	(No symbol) [0x004C8804]
	(No symbol) [0x004DC9EB]
	(No symbol) [0x004C8386]
	(No symbol) [0x004A163C]
	(No symbol) [0x004A269D]
	GetHandleVerifier [0x00899A22+2655074]
	GetHandleVerifier [0x0088CA24+2601828]
	GetHandleVerifier [0x006A8C0A+619850]
	GetHandleVerifier [0x006A7830+614768]
	(No symbol) [0x005905FC]
	(No symbol) [0x00595968]
	(No symbol) [0x00595A55]
	(No symbol) [0x005A051B]
	BaseThreadInitThunk [0x7690FEF9+25]
	RtlGetAppContainerNamedObjectPath [0x77687BBE+286]
	RtlGetAppContainerNamedObjectPath [0x77687B8E+238]

# Question 7.
Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [289]:
#Let's connect to the webdriver
driver= webdriver.Chrome(r'C:\Users\Arpita\Documents\chromedriver.exe')

In [290]:
url=(' https://www.naukri.com/')
driver.get(url)

In [291]:
# Fetching search button, sending keys and clicking on it
search_field = driver.find_element(By.CLASS_NAME,'suggestor-input ')
search_field.send_keys('Data Science')

In [292]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [294]:
#Scraping the title
name = []
name_tag = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in name_tag:
    name.append(i.text)
len(name)

20

In [295]:
#Scraping the company name
comp = []
comp_tag = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in comp_tag:
    comp.append(i.text)
len(comp)

20

In [296]:
#scraping skills
skill = []
skill_tag = driver.find_elements(By.XPATH,'//div[@class="job-description fs12 grey-text"]')
for i in skill_tag:
    skill.append(i.text)
len(skill)

20

In [297]:
#scraping location
loc = []
loc_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in loc_tag:
    loc.append(i.text)
len(loc)

20

In [298]:
#creating DataFrame of scraped data
df = pd.DataFrame({'JOB Title':name,'Company':comp,'Skills':skill,'Location':loc})
df

,JOB Title,Company,Skills,Location
0,Analyst-Data Science,AMERICAN EXPRESS,BS / MS or PhD in a quantitative field - Appli...,Gurgaon/Gurugram
1,Data Scientist - Data Science,Bristlecone,Graduation Post Graduation in Statistics Compe...,Mumbai
2,Sr. Manager - Data Science,AMERICAN EXPRESS,Masters / PhDs in a quantitative field (Comput...,Gurgaon/Gurugram
3,Lead Data Scientist - Data Sciences,GEP,", code review and version control tools, batch...",Remote
4,Data Science - Engineering Manager,Paytm,- We are looking for passionate and skilled da...,"New Delhi, Bangalore/Bengaluru"
5,Analyst-Data Science,Accenture,You will be required to utilize the existing f...,Bangalore/Bengaluru
6,Senior Analyst-Data Science,Accenture,Skill required: Data Science - Python Programm...,Mumbai
7,Data Science Lead - Forecasting,Cargill,"Bachelor s degree in Computer science, Statist...",Bangalore/Bengaluru
8,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,The ideal candidate should have a strong clien...,Bangalore/Bengaluru
9,Paytm - Data Science - Lead,Paytm,Bachelor s degree in technical/ analytics/ dat...,"Noida, Mumbai, Bangalore/Bengaluru"
10,Consultant - Data Science,Affine Analytics,Qualitative skills: Should have played project...,Bangalore/Bengaluru
11,Senior Data Science Engineer,Bizongo,"5+ years of experience in designing, developin...","Mumbai, Bangalore/Bengaluru"
12,ACN - Applied Intelligence - CC - Data Science...,Accenture,Requirements: Responsible for taking up day-to...,Gurgaon/Gurugram
13,Data Science- Data Scientist/Sr. Data Scientist,Jet2 Travel Technologies,"As a part of J2TT, the successful candidate wi...",Pune
14,Deputy National Lead - Payments - Data Science,BAJAJ FINSERVE,"Bachelor s Degree in computer science, Math, P...",Pune
15,Data Science Engineer,Geeky Bee AI Pvt Ltd,We are looking for Data Science Engineers with...,Pune(Wakad)
16,Data Science Analyst,Ira Commerce,Experience in Developing and enhancing algorit...,Hyderabad/Secunderabad
17,Manager / Senior Manager - Data Science,PYLON Management Consulting Private Limited,Nice to have: Phd or degree from IIT / IIM/oth...,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru"
18,Senior Analyst - Applied Data Science,Tesco,finance or digital preferred 4 years Experienc...,Bangalore/Bengaluru
19,"Manager, Data Science 1",Paypal,Bachelor s / Master s degree in a quantitative...,Chennai

In [299]:
driver.close()

# Question 8.
. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [228]:
#Let's connect to the webdriver
driver= webdriver.Chrome(r'C:\Users\Arpita\Documents\chromedriver.exe')

In [230]:
url=('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
driver.get(url)

In [236]:
detail = []
detail_tag = driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in detail_tag:
    detail.append(i.text)
detail

['1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark',
 '1,979,552',
 'Random House',
 '21',
 'Digital Fortress',
 'Brown, Dan',
 '1,928,900',
 'Transworld',
 '22',
 'Short History of Nearly Everything,A',
 'Bryson, Bill',
 '1,852,919',
 'Transworld',
 '23',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Larsson, Stieg',
 '1,814,784',
 'Quercus',
 '24',
 'Breaking Dawn',
 'Meyer, Stephenie',
 '1,787,118',
 'Little, Brown Book',
 '25',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Carle, Eric',
 '1,783,535',
 'Penguin',
 '26',
 'Gruffalo,The',
 'Donaldson, Julia',
 '1,781,269',
 'Pan Macmillan',
 '27',
 "Jamie's 30-Minute Meals",
 'Oliver, Jamie',
 '1,743,266',
 'Penguin',
 '28',
 'Kite Runner,The',
 'Hosseini, Khaled',
 '1,629,119',
 'Bloomsbury',
 '29',
 'One Day',
 'Nicholls, David',
 '1,616,068',
 'Hodder & Stoughton',
 '30',
 'Thousand Splendid Suns,A',
 'Hosseini, Khaled',
 '1,583,992',
 'Bloomsbury',
 '31',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 'Larsson, Stieg',
 '1,555,135',
 'Quercus',
 '32',
 "Time Traveler's Wife,The",
 'Niffenegger, Audrey',
 '1,546,886',
 'Random House',
 '33',
 'Atonement',
 'McEwan, Ian',
 '1,539,428',
 'Random House',
 '34',
 "Bridget Jones's Diary:A Novel",
 'Fielding, Helen',
 '1,508,205',
 'Pan Macmillan',
 '35',
 'World According to Clarkson,The',
 'Clarkson, Jeremy',
 '1,489,403',
 'Penguin',
 '36',
 "Captain Corelli's Mandolin",
 'Bernieres, Louis de',
 '1,352,318',
 'Random House',
 '37',
 'Sound of Laughter,The',
 'Kay, Peter',
 '1,310,207',
 'Random House',
 '38',
 'Life of Pi',
 'Martel, Yann',
 '1,310,176',
 'Canongate',
 '39',
 'Billy Connolly',
 'Stephenson, Pamela',
 '1,231,957',
 'HarperCollins',
 '40',
 'Child Called It,A',
 'Pelzer, Dave',
 '1,217,712',
 'Orion',
 '41',
 "Gruffalo's Child,The",
 'Donaldson, Julia',
 '1,208,711',
 'Pan Macmillan',
 '42',
 "Angela's Ashes:A Memoir of a Childhood",
 'McCourt, Frank',
 '1,204,058',
 'HarperCollins',
 '43',
 'Birdsong',
 'Faulks, Sebastian',
 '1,184,967',
 'Random House',
 '44',
 'Northern Lights:His Dark Materials S.',
 'Pullman, Philip',
 '1,181,503',
 'Scholastic Ltd.',
 '45',
 'Labyrinth',
 'Mosse, Kate',
 '1,181,093',
 'Orion',
 '46',
 'Harry Potter and the Half-blood Prince',
 'Rowling, J.K.',
 '1,153,181',
 'Bloomsbury',
 '47',
 'Help,The',
 'Stockett, Kathryn',
 '1,132,336',
 'Penguin',
 '48',
 'Man and Boy',
 'Parsons, Tony',
 '1,130,802',
 'HarperCollins',
 '49',
 'Memoirs of a Geisha',
 'Golden, Arthur',
 '1,126,337',
 'Random House',
 '50',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'McCall Smith, Alexander',
 '1,115,549',
 'Little, Brown Book',
 '51',
 'Island,The',
 'Hislop, Victoria',
 '1,108,328',
 'Headline',
 '52',
 'PS, I Love You',
 'Ahern, Cecelia',
 '1,107,379',
 'HarperCollins',
 '53',
 'You are What You Eat:The Plan That Will Change Your Life',
 'McKeith, Gillian',
 '1,104,403',
 'Penguin',
 '54',
 'Shadow of the Wind,The',
 'Zafon, Carlos Ruiz',
 '1,092,349',
 'Orion',
 '55',
 'Tales of Beedle the Bard,The',
 'Rowling, J.K.',
 '1,090,847',
 'Bloomsbury',
 '56',
 'Broker,The',
 'Grisham, John',
 '1,087,262',
 'Random House',
 '57',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Atkins, Robert C.',
 '1,054,196',
 'Random House',
 '58',
 'Subtle Knife,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,037,160',
 'Scholastic Ltd.',
 '59',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 'Truss, Lynne',
 '1,023,688',
 'Profile Books Group',
 '60',
 "Delia's How to Cook:(Bk.1)",
 'Smith, Delia',
 '1,015,956',
 'Random House',
 '61',
 'Chocolat',
 'Harris, Joanne',
 '1,009,873',
 'Transworld',
 '62',
 'Boy in the Striped Pyjamas,The',
 'Boyne, John',
 '1,004,414',
 'Random House Childrens Books G',
 '63',
 "My Sister's Keeper",
 'Picoult, Jodi',
 '1,003,780',
 'Hodder & Stoughton',
 '64',
 'Amber Spyglass,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,002,314',
 'Scholastic Ltd.',
 '65',
 'To Kill a Mockingbird',
 'Lee, Harper',
 '998,213',
 'Random House',
 '66',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Gray, John',
 '992,846',
 'HarperCollins',
 '67',
 'Dear Fatty',
 'French, Dawn',
 '986,753',
 'Random House',
 '68',
 'Short History of Tractors in Ukrainian,A',
 'Lewycka, Marina',
 '986,115',
 'Penguin',
 '69',
 'Hannibal',
 'Harris, Thomas',
 '970,509',
 'Random House',
 '70',
 'Lord of the Rings,The',
 'Tolkien, J. R. R.',
 '967,466',
 'HarperCollins',
 '71',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Moore, Michael',
 '963,353',
 'Penguin',
 '72',
 'Interpretation of Murder,The',
 'Rubenfeld, Jed',
 '962,515',
 'Headline',
 '73',
 'Sharon Osbourne Extreme:My Autobiography',
 'Osbourne, Sharon',
 '959,496',
 'Little, Brown Book',
 '74',
 'Alchemist,The:A Fable About Following Your Dream',
 'Coelho, Paulo',
 '956,114',
 'HarperCollins',
 '75',
 "At My Mother's Knee ...:and Other Low Joints",
 "O'Grady, Paul",
 '945,640',
 'Transworld',
 '76',
 'Notes from a Small Island',
 'Bryson, Bill',
 '931,312',
 'Transworld',
 '77',
 'Return of the Naked Chef,The',
 'Oliver, Jamie',
 '925,425',
 'Penguin',
 '78',
 'Bridget Jones: The Edge of Reason',
 'Fielding, Helen',
 '924,695',
 'Pan Macmillan',
 '79',
 "Jamie's Italy",
 'Oliver, Jamie',
 '906,968',
 'Penguin',
 '80',
 'I Can Make You Thin',
 'McKenna, Paul',
 '905,086',
 'Transworld',
 '81',
 'Down Under',
 'Bryson, Bill',
 '890,847',
 'Transworld',
 '82',
 'Summons,The',
 'Grisham, John',
 '869,671',
 'Random House',
 '83',
 'Small Island',
 'Levy, Andrea',
 '869,659',
 'Headline',
 '84',
 'Nigella Express',
 'Lawson, Nigella',
 '862,602',
 'Random House',
 '85',
 'Brick Lane',
 'Ali, Monica',
 '856,540',
 'Transworld',
 '86',
 "Memory Keeper's Daughter,The",
 'Edwards, Kim',
 '845,858',
 'Penguin',
 '87',
 'Room on the Broom',
 'Donaldson, Julia',
 '842,535',
 'Pan Macmillan',
 '88',
 'About a Boy',
 'Hornby, Nick',
 '828,215',
 'Penguin',
 '89',
 'My Booky Wook',
 'Brand, Russell',
 '820,563',
 'Hodder & Stoughton',
 '90',
 'God Delusion,The',
 'Dawkins, Richard',
 '816,907',
 'Transworld',
 '91',
 '"Beano" Annual,The',
 '0',
 '816,585',
 'D.C. Thomson',
 '92',
 'White Teeth',
 'Smith, Zadie',
 '815,586',
 'Penguin',
 '93',
 'House at Riverton,The',
 'Morton, Kate',
 '814,370',
 'Pan Macmillan',
 '94',
 'Book Thief,The',
 'Zusak, Markus',
 '809,641',
 'Transworld',
 '95',
 'Nights of Rain and Stars',
 'Binchy, Maeve',
 '808,900',
 'Orion',
 '96',
 'Ghost,The',
 'Harris, Robert',
 '807,311',
 'Random House',
 '97',
 'Happy Days with the Naked Chef',
 'Oliver, Jamie',
 '794,201',
 'Penguin',
 '98',
 'Hunger Games,The:Hunger Games Trilogy',
 'Collins, Suzanne',
 '792,187',
 'Scholastic Ltd.',
 '99',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 'Pelzer, Dave',
 '791,507',
 'Orion',
 '100',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
 'Oliver, Jamie',
 '791,095',
 'Penguin']

In [237]:
rank = detail[0:500:5]
book_name = detail[1:500:5]
author_name=detail[2:500:5]
vol_sales=detail[3:500:5]
publisher = detail[4:500:5]

In [238]:
genre = []
genre_tag =driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in genre_tag:
    genre.append(i.text)
len(genre)

100

In [239]:
#creating DataFrame
df = pd.DataFrame({'Rank':rank,'Book Name':book_name,'Author Name':author_name,'Volume Sales':vol_sales,'Publisher':publisher,'Genre':genre})
df

,Rank,Book Name,Author Name,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [240]:
driver.close()

# Question 9.
Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [245]:
#Let's connect to the webdriver
driver= webdriver.Chrome(r'C:\Users\Arpita\Documents\chromedriver.exe')

In [249]:
url=('https://www.imdb.com/list/ls095964455/')
driver.get(url)

In [250]:
detail = []
detail_tag = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a')
for i in detail_tag:
    detail.append(i.text)
detail

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [251]:
year = []
year_tag = driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in year_tag:
    year.append(i.text)
year

['(2011–2019)',
 '(2016– )',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017– )',
 '(2005– )',
 '(2014–2023)',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011–2019)',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016–2022)',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018– )',
 '(2006–2013)',
 '(2015– )',
 '(1999– )',
 '(2013– )',
 '(2004–2010)',
 '(2013–2022)',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016–2022)',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2021)',
 '(2013–2015)',
 '(2019–2023)',
 '(2014–2019)',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2022)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017–2022)',
 '(2016–2022)',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016– )',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005– )',
 '(2015–2019)',
 '(2018)']

In [252]:
rating = []
rating_tag = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]')
for i in rating_tag:
    rating.append(i.text.split('\n')[0])
rating

['9.2',
 '8.7',
 '8.1',
 '7.5',
 '7.6',
 '8.1',
 '6.6',
 '7.6',
 '7.6',
 '7.5',
 '8.2',
 '8.2',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.7',
 '8.7',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.5',
 '8.6',
 '8.3',
 '6.2',
 '7.5',
 '8.2',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '9.1',
 '6.5',
 '8.1',
 '8.7',
 '8.7',
 '7.3',
 '8.4',
 '8.6',
 '7.8',
 '7.5',
 '7.7',
 '8.7',
 '6.8',
 '8.2',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.3',
 '6.8',
 '8.4',
 '7.4',
 '8.1',
 '7.9',
 '6.8',
 '8.7',
 '8.4',
 '6.5',
 '7.9',
 '8.9',
 '7.8',
 '7.6',
 '8.9',
 '8.1',
 '8.5',
 '8.3',
 '7.3',
 '8.7',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.2',
 '8.5',
 '6.5',
 '8.1',
 '8.7',
 '9.4',
 '7.8',
 '7.4',
 '7.8',
 '8.1',
 '7.1',
 '8.6']

In [253]:
run = []
run_tag = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in run_tag:
    run.append(i.text)
run

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [254]:
genre = []
genre_tag = driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre_tag:
    genre.append(i.text)
genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Sci-Fi',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [255]:
votes = []
votes_tag = driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in votes_tag:
    votes.append(i.text)
votes

['2,091,231',
 '1,180,712',
 '989,594',
 '292,983',
 '252,155',
 '303,039',
 '145,560',
 '309,089',
 '346,420',
 '432,066',
 '476,305',
 '807,516',
 '546,026',
 '924,709',
 '531,972',
 '168,089',
 '322,421',
 '319,829',
 '1,874,123',
 '324,633',
 '445,903',
 '535,553',
 '152,339',
 '149,021',
 '407,605',
 '225,514',
 '422,180',
 '440,981',
 '993,345',
 '683,398',
 '411,040',
 '387,872',
 '136,672',
 '124,458',
 '175,543',
 '155,047',
 '230,998',
 '505,174',
 '215,242',
 '430,854',
 '520,115',
 '64,145',
 '191,030',
 '504,762',
 '385,793',
 '79,755',
 '280,819',
 '243,511',
 '225,172',
 '217,701',
 '240,748',
 '725,593',
 '130,494',
 '340,134',
 '249,889',
 '553,651',
 '546,936',
 '465,082',
 '61,281',
 '111,567',
 '342,124',
 '74,420',
 '105,269',
 '237,333',
 '95,875',
 '95,623',
 '51,191',
 '149,030',
 '369,724',
 '316,379',
 '107,059',
 '248,410',
 '570,674',
 '105,499',
 '129,652',
 '526,021',
 '108,765',
 '236,684',
 '89,513',
 '22,893',
 '144,495',
 '160,839',
 '131,788',
 '37,617',
 '288,914',
 '120,509',
 '131,883',
 '74,363',
 '108,528',
 '199,709',
 '29,141',
 '185,802',
 '217,212',
 '749,167',
 '68,730',
 '50,207',
 '61,517',
 '198,519',
 '41,591',
 '245,422']

In [256]:
#Creating DataFrame
df= pd.DataFrame({'Name':detail,'Year span':year,'Genre':genre,'Run time':run,'Ratings':rating,'Votes':votes})
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,091,231"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,180,712"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"989,594"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"292,983"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"252,155"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,207"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,517"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"198,519"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,591"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"245,422"

In [257]:
driver.close()

# Question 10.
Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [300]:
#Let's connect to the webdriver
driver= webdriver.Chrome(r'C:\Users\Arpita\Documents\chromedriver.exe')

In [301]:
url=(' https://archive.ics.uci.edu/')
driver.get(url)

In [302]:
dataset = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a')
dataset.click()

In [303]:
detail=[]
detail_tag = driver.find_elements(By.XPATH,'//p[@class="normal"]')
for i in detail_tag[8:4364]:
    detail.append(i.text)

In [272]:
name = detail[0:4364:7]
datatype = detail[1:4364:7]
task=detail[2:4364:7]
attribute_type=detail[3:4364:7]
instances = detail[4:4364:7]
attributes = detail[5:4364:7]
year=detail[6:4364:7]

In [273]:
print(len(name),len(datatype),len(task),len(attribute_type),len(instances),len(attributes),len(year))

623 623 622 622 622 622 622

In [274]:
df = pd.DataFrame({'Dataset Name':name,'Datatype':datatype,'Task':task,'Attribute Type':attribute_type,'Instances':instances,'Attributes':attributes,'Year':year})
df

ValueError: All arrays must be of the same length

In [ ]:
driver.close()